.intro-h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 50;
}

.resume-btn {
  color: white;
}

.my-image {
  z-index: 1;
}

.intro-h2 {
  color: #0f33ff;
}

.fun-fact {
  color: #0f33ff;
  font-style: italic;
}

.intro-h2-1 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 50;
}

/* social media */
.my-socials {
  column-gap: 1.25rem;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  padding-left: 0;
  list-style-type: none;
}

.social-icon {
  border-color: rgb(228 228 231/var(--tw-border-opacity));
  border-bottom-width: 1px;
  align-items: center;
  display: flex;
  color: #818284;
  text-decoration: none;
  font-size: 1rem;
}

.social-icon svg {
  height: 1rem;
  width: 1rem;
}

.social-p {
  color: #818284;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(40, end) ;
  border-right: 1px solid #000;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Contact me */
.modal--information p {
  cursor: pointer;
  text-decoration: underline;
  color: #0f33ff;
}

.modal--options {
  display: none;
  list-style: none;
  padding: 0;
}

.modal--options.show {
  display: block;
}

.contact-info {
  display: none;
}

.contact-info.show {
  display: block;
}

/* Projects */
.button-div {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.live-btn {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #0f33ff;
  cursor: pointer;
  font-size: 12px;
  background: transparent;
  border: 1px solid #0f33ff;
  width: 100px;
  height: 30px;
}

.live-btn:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #fff;
  transform: scale(0.75);
}

.live-btn::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.live-btn::after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #0f33ff;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.live-btn:hover {
  color: #fff;
  border: 1px solid #0f33ff;
}

.live-btn:hover::before {
  top: -35%;
  background-color: #0f33ff;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  transition-duration: 0.3s;
}

.live-btn:hover::after {
  top: -45%;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  transition-duration: 0.6s;
}

/* About info */
.row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.aboutme-h2 {
  margin-top: 0;
  font-size: 28px;
  font-weight: 900;
  line-height: 1;
  z-index: 1;
  margin-bottom: 0;
}

.aboutme-intro {
  z-index: 1;
  color: #c5c5c5;
}

.col-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #c5c5c5;
}

.aboutme-p {
  position: relative;
  z-index: 1;
  color: #c5c5c5;
  text-align: justify;
}

.tech-stack-li {
  color: #c5c5c5;
}

ul.tech-stack {
  display: flex;
  list-style: none;
  padding: 20px;
  padding-left: 0;
  gap: 20px;
}

ul.tech-stack > li {
  margin-bottom: 20px;
  color: black;
}

ul.tech-stack ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.tech-stack strong {
  color: #0f33ff;
}

ul.tech-stack ul ul {
  margin-top: 5px;
}

ul.tech-stack li {
  padding: 5px 0;
}

.scroll-indicator {
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #777;
  padding-bottom: 0;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #0f33ff;
  margin-top: 5px;
  margin-left: 50%;
  animation: bounceDown 0.8s infinite alternate;
}

@keyframes bounceDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(15px);
  }
}

/* Contact Form */
#contactForm {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80vw;
}

.custom-form label {
  font-size: 16px;
  margin-bottom: 8px;
  color: black;
}

.custom-form input,
.custom-form textarea {
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  color: black;
  font-size: 14px;
}

.live-btnn {
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: white;
  cursor: pointer;
  font-size: 15px;
  background: transparent;
  border: 1px solid white;
  padding: 10px;
}

.live-btnn:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #fff;
  transform: scale(0.75);
}

.live-btnn::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.live-btnn::after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #0f33ff;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.live-btnn:hover {
  color: #ffff;
  border: 1px solid #0f33ff;
}

.live-btnn:hover::before {
  top: -35%;
  background-color: #0f33ff;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  transition-duration: 0.3s;
}

.live-btnn:hover::after {
  top: -45%;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  transition-duration: 0.6s;
}

#successMessage {
  color: white;
  font-weight: bold;
  display: none;
  margin-top: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Scroll bar */
/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 3px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #0f33ff; /* Set the color of the thumb (the draggable part) */
  border-radius: 6px; /* Add rounded corners to the thumb */
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* Set the color of the track (the non-draggable part) */
  border-radius: 6px; /* Add rounded corners to the thumb */
}

body {
  scrollbar-width: thin; /* Set the width of the scrollbar */
}

body::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

body::-webkit-scrollbar-thumb {
  background-color: #333; /* Set the color of the thumb (the draggable part) */
  border-radius: 6px; /* Add rounded corners to the thumb */
}

body::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* Set the color of the track (the non-draggable part) */
}
/* 
@media (max-width: 600px) {
  .aboutme-h2 {
    font-size: 18px;
    letter-spacing: 0.6px;
  }

  .live-btnn {
    padding: 0;
    font-size: 12px;
  }

  .hire h2 {
    margin: 0 0 0 0;
    font-size: 16px;
    text-align: center;
  }

  .work-request input[type="submit"] {
    width: 400px;
    max-width: 100%;
    line-height: 50px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #0f33ff;
    border: none;
    border-radius: 0;
  }
} */
