.intro-h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 50;
}

.resume-btn {
  color: white;
}

.my-image {
  z-index: 1;
}

.intro-h2 {
  color: #0f33ff;
}

.intro-h2-1 {
  margin-bottom: 60px;
  font-size: 20px;
  font-weight: 50;
}

/* social media */
.my-socials {
  column-gap: 1.25rem;
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  padding-left: 0;
  list-style-type: none;
}

.social-icon {
  border-color: rgb(228 228 231/var(--tw-border-opacity));
  border-bottom-width: 1px;
  align-items: center;
  display: flex;
  color: #818284;
  text-decoration: none;
  font-size: 1rem;
}

.social-icon svg {
  height: 1rem;
  width: 1rem;
}

.social-p {
  color: #818284;
}

/* Contact me */
.modal--information p {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.modal--options {
  display: none;
  list-style: none;
  padding: 0;
}

.modal--options.show {
  display: block;
}

.contact-info {
  display: none;
}

.contact-info.show {
  display: block;
}

/* Projects */
.slider--item-button {
  color: #0f33ff;
  margin-top: 15px;
  width: 220px;
}

.button-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}
